@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app-dark-blue max-w-[1440px] mx-auto;
  }
}

@layer components {
  .heading-lg {
    @apply text-app-heading-lg font-light;
  }

  .heading-md {
    @apply text-app-heading-md font-light;
  }

  .heading-sm {
    @apply text-app-heading-md font-medium;
  }

  .heading-xs {
    @apply text-app-heading-xs font-medium;
  }

  .body-md {
    @apply text-app-body-md font-light;
  }

  .body-sm {
    @apply text-app-body-sm font-light;
  }

  .section-title {
    @apply text-xl font-light mb-6 md:heading-lg;
  }

  .app-transition {
    @apply transition duration-300 ease-linear;
  }

  .nav-hover-effect {
    @apply hover:fill-app-red hover:app-transition;
  }

  .icon-nav {
    @apply fill-app-greyish-blue nav-hover-effect md:w-5 md:h-5;
  }

  .active-link {
    @apply fill-app-pure-white nav-hover-effect md:w-5 md:h-5;
  }

  /* Wrapper for (year, category, rating) */
  .card-info-first-line {
    @apply flex text-app-grey text-[11px] font-light mt-2 mb-1;
  }
  .card-info-first-line-normal {
    @apply card-info-first-line md:text-[13px];
  }
  .card-info-first-line-trending {
    @apply card-info-first-line text-app-pure-white md:text-[15px];
  }

  /* Category wrapper (Category icon & Category text) */
  .card-info-category-2in1 {
    @apply flex items-center before:content-['•'] after:content-['•'];
  }
  .card-info-category-2in1-normal {
    @apply card-info-category-2in1 px-[6px];
  }
  .card-info-category-2in1-trending {
    @apply card-info-category-2in1 px-[8px];
  }

  /* Category text (movie or tv series) */
  .card-info-category-text-normal {
    @apply pl-1 pr-1;
  }
  .card-info-category-text-trending {
    @apply pl-[6px] pr-[6px];
  }

  /* The whole card image wrapper (with the image & bookmark icon) */
  .card-image {
    @apply rounded-lg relative w-full;
  }
  .card-image-normal {
    @apply card-image;
  }
  .card-image-trending {
    @apply card-image;
  }

  /* Only wrapping the image component */
  .image-wrapper {
    @apply relative;
  }
  .image-wrapper-normal {
    @apply image-wrapper h-[133px] md:h-[140px] lg:h-[174px];
  }
  .image-wrapper-trending {
    @apply image-wrapper w-[240px] h-[140px] sm:w-[470px] sm:h-[230px];
  }

  /* Single card wrapper */
  .single-card-wrapper {
    @apply w-full;
  }
  .single-card-wrapper-normal {
    @apply single-card-wrapper 2xs:w-[130px] xs:w-full mb-4 basis-1/5 grow 2xs:m-2;
  }
  .single-card-wrapper-trending {
    @apply single-card-wrapper relative mr-4 last:mr-0 sm:mr-6 md:mr-10;
  }

  /* Overlay for trending card image */
  .overlay-after {
    @apply after:content-[''] after:absolute after:top-0 after:right-0 after:bottom-0 after:left-0 after:bg-app-dark-blue after:opacity-50;
  }

  /* The whole information wrapper (year, category, rating, title) */
  .card-info-wrapper-trending {
    @apply w-[230px] absolute left-4 bottom-4 text-ellipsis truncate z-40;
  }

  /* The horizontal scroll for trending section */
  .h-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .h-scroll::-webkit-scrollbar {
    display: none;
  }

  /* Film title */
  .film-title {
    @apply font-bold text-app-pure-white text-sm capitalize text-ellipsis truncate mr-4 w-[150px];
  }
  .film-title-normal {
    @apply film-title md:heading-xs;
  }
  .film-title-trending {
    @apply film-title md:heading-sm;
  }

  .card-collection-wrapper {
    @apply flex flex-col items-center 2xs:flex-row 2xs:flex-wrap 2xs:justify-between mb-10;
  }
}
