@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app-dark-blue;
  }
}

@layer components {
  .heading-lg {
    @apply text-app-heading-lg font-light;
  }

  .heading-md {
    @apply text-app-heading-md font-light;
  }

  .heading-sm {
    @apply text-app-heading-md font-medium;
  }

  .heading-xs {
    @apply text-app-heading-xs font-medium;
  }

  .body-md {
    @apply text-app-body-md font-light;
  }

  .body-sm {
    @apply text-app-body-sm font-light;
  }

  .section-title {
    @apply text-xl font-light mb-6;
  }

  .app-transition {
    @apply transition duration-300 ease-linear;
  }

  .nav-hover-effect {
    @apply hover:fill-app-red hover:app-transition;
  }

  .icon-nav {
    @apply fill-app-greyish-blue nav-hover-effect;
  }

  .active-link {
    @apply fill-app-pure-white nav-hover-effect;
  }

  .card-normal-collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    column-gap: 7.5px;
    row-gap: 15px;
  }

  /* Wrapper for (year, category, rating) */
  .card-info-first-line {
    @apply flex text-app-grey text-[11px] font-light mt-2 mb-1;
  }
  .card-info-first-line-normal {
    @apply card-info-first-line;
  }
  .card-info-first-line-trending {
    @apply card-info-first-line;
  }

  /* Category wrapper (Category icon & Category text) */
  .card-info-category-2in1 {
    @apply flex items-center before:content-['•'] after:content-['•'];
  }
  .card-info-category-2in1-normal {
    @apply card-info-category-2in1 px-[6px];
  }
  .card-info-category-2in1-trending {
    @apply card-info-category-2in1 px-[8px];
  }

  /* Category text (movie or tv series) */
  .card-info-category-text-normal {
    @apply pl-1 pr-1;
  }
  .card-info-category-text-trending {
    @apply pl-[6px] pr-[6px];
  }

  /* Thumbnail image wrapper */
  .card-image {
    @apply rounded-lg relative;
  }
  .card-image-normal {
    @apply card-image w-[164px];
  }
  .card-image-trending {
    @apply card-image w-[240px];
  }

  /* The whole information wrapper (year, category, rating, title) */
  .card-info-wrapper-trending {
    @apply w-[230px] absolute left-4 bottom-4 text-ellipsis truncate;
  }

  /* The horizontal scroll for trending section */
  .h-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .h-scroll::-webkit-scrollbar {
    display: none;
  }
}
